.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-p {
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .App-p {
      width: 60%;
  }
}

.App-link {
  color: #61dafb;
}